.header{
  display: flex;
  justify-content: space-between;
  border: 1px solid B4E4FF;
  box-shadow: 5px 5px 10px 1px #36151E, 4px 5px 10px 1px #36151E inset, 5px 5px 10px 1px #36151E  ;
  border-radius: 5px;
  margin: 5px;;
}

.nav-items > ul{
  margin: 5px;
  list-style-type: none;
  display: flex;
}

.nav-items>ul>li{
padding: 20px;
}

.nav-items > button{
  margin: 5px;
  list-style-type: none;
  display: flex;
}

.logo{
  margin: 5px;
  width: 70px;
  float:left;
}

.title-logo{
  font-family:cursive;
  font-style:italic;
  margin-left: 80px;
  color:#36151E;

}

.link{
  text-decoration:none;
}

.restaurant-card{
  width: 200px;
  height: 400px;
  object-fit: cover;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}

.restaurant-card > img{
  width: 100%;
  height: 150px;
}

.restaurant-list{
display: flex;
flex-wrap: wrap;
}

.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 200px;
  height: 400px;
  margin: 5px;
  padding: 5px;
  background-color:#b8b8b8 ;
}

.parent-div{
  background-color: #f0f0f0;
}